<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shyam.rollcall"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
        android:name=".Main"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name=".login"
            android:label="@string/app_name" >

        </activity>
        <activity
                android:name=".sqlview"
                android:label="Take Attendance">
        </activity>
        <activity android:name=".GSSAct"
                  android:label="SpreadSheets"
                  android:parentActivityName=".Main" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.shyam.RollCall.Main" />
        </activity>
        <activity android:name=".GSSDetails"
                  android:label="WorkSheets"
                  android:parentActivityName=".GSSAct" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.shyam.RollCall.GssAct" />
        </activity>
        <activity android:name=".WKDetails"
                  android:label="Worksheet Details"
                  android:parentActivityName=".GSSDetails" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.shyam.RollCall.GssDetails" />
        </activity>

    </application>

</manifest>
